<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מערכת תמיכה</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>ברוכים הבאים להג-נפש</h1>
        
        <div class="section-title">משתמש קיים</div>
        <div class="button-group">
            <a href="/login/soldier" class="button">כניסה כחייל</a>
            <a href="/login/evacuee" class="button">כניסה כמפונה</a>
            <a href="/login/psychologist" class="button">כניסה כפסיכולוג</a>
        </div>

        <div class="section-title">משתמש חדש</div>
        <div class="button-group">
            <a href="/register" class="button register-button">הרשמה למערכת</a>
        </div>
    </div>
</body>
</html> 
